/* App.css */

.container {
  padding: 1rem;
}

.navbar {
  display: flex;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.navbar img {
  min-width: 6rem;
  height: 6rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.navbar img:hover {
  transform: scale(1.1);
}

.selected-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjusted to not take full screen height */
  margin-top: 2rem;
}

.selected-image {
  max-width: 75%; /* Limit the size of the large image */
  max-height: 75%;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}
